[
    {
        "base_url": "http://123.123.123.12/tra/",
        "username": "inndy",
        "password": "abcdefghijklmnopqrstuvwxyz",
        "min_wait_time": 12,
        "additional_wait_time": 2,
        "request_interval": 1
    },
    {
        "base_url": "http://123.123.123.12/tra/",
        "username": "1nndy",
        "password": "ABCDEFGHIJKLMNOPQRSTUVWXYZ",
        "min_wait_time": 12,
        "additional_wait_time": 2,
        "request_interval": 1
    }
]
